<!DOCTYPE html>
<html class='no-js' lang='en' ng-app="sgDashboard">
  <head>
    <meta charset='utf-8'>
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
      .open {
        display: block;
      }

      .closed {
        display: none;
      }
    </style>
    <script data-main="js/main" src="js/lib/require.js"></script>

    <script type="text/javascript" src="js/components/dashboard/dashboard-controller.js"></script>
    <script type="text/javascript" src="js/components/dashboard/dashboard-edit-controller.js"></script>
    <script type="text/javascript" src="js/services/persistent-factory.js"></script>
    <script type="text/javascript" src="js/services/product-service.js"></script>
    <script type="text/javascript" src="js/services/request-service.js"></script>
    <script type="text/javascript" src="js/config/message-constant.js"></script>
    
    
  </head>
  <body>
    <div class="container">
      <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li ng-click="onClickTab('home')" ng-class="{active:isActiveTab('home')}">
              <a ui-sref="home" data-toggle="tab">Home</a>
            </li>
            <li ng-click="onClickTab('edit')" ng-class="{active:isActiveTab('edit')}">
              <a ui-sref="edit" data-toggle="tab">Edit</a>
            </li>
        </ul>
      </div>
      <div ui-view>
      </div>
    </div>

  </body>
</html>
