<div class="tab-content">
	<div class="dropdown">
		<input class="btn btn-default dropdown-toggle" type="text" ng-model="searchText" placeholder="Product Search Box"></input>
		<ul class="dropdown-menu" ng-if="searchText" ng-class=" searchText ? 'open' : 'closed' ">
	    <li ng-click="selectProduct(product)" ng-repeat="product in products | filter:searchText">
	    	<span>{{product.name}}</span>
	    </li>
	  </ul>
	</div>
	<div ng-show="product">
		<div ng-include src="'templates/product.html'"></div>
	</div>
</div>
